@import "_bootstrap.scss";

body {
  padding-bottom: 20px;
}
header{
  width: 100%;
  height: 107px;
  box-sizing: border-box;
  padding:5% 10%;
  background: #006834 url("../images/fmit-logo.png") 5% center no-repeat;
  margin-bottom: 20px;
}
