FMIT_DEBUG='True'

FMIT_SECRET_KEY='ckksf&av48i=nu-ae%1*fouw_%@tt(t##@p2@p6wlsv5q#&vd*'

FMIT_DATABASE_URL='mysql://root@localhost/fmit'

FMIT_CACHES_BACKEND='django.core.cache.backends.dummy.DummyCache'
FMIT_CACHES_LOCATION='127.0.0.1:11211'

FMIT_WEIBO_APPKEY='xxxx'
FMIT_WEIBO_APPSECRET='xxxx'

FMIT_DEFAULT_FILE_STORAGE='qiniustorage.backends.QiniuStorage'
FMIT_QINIU_ACCESS_KEY=''
FMIT_QINIU_SECRET_KEY=''
FMIT_QINIU_BUCKET_DOMAIN=''
