//@import "_bootstrap.scss";
@import 'mixin/base.scss';

.clearfix{
  @include clearfix;
}

html{
  font-size: 42.6667px;
  -webkit-text-size-adjust: none;
  font-family: 'STHeiti','Microsoft YaHei',Helvetica,Arial,sans-serif;
  height: 100%;
}

body {
  padding-bottom: 20px;
  margin: 0;
  color: #404040;
  height: 100%;
  // & > header{
  //   width: 100%;
  //   height: 107px;
  //   box-sizing: border-box;
  //   background: #006834 url("../images/fmit-logo.png") 5% center no-repeat;
  //   box-shadow:0 5px 15px 5px rgba(0,0,0,.2);
  //   top: 0;
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   z-index: 1;
  //   max-width: 740px;
  //   margin: 0 auto 5px;
  // }
  header.logo{
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    max-width: 740px;
    margin: 0 auto 5px;
    box-shadow:0 3px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #006834;
    height: 107px;
    overflow: hidden;
    span{
      font-size: 90px;
      display: inline-block;
      vertical-align: -70px;
      color: rgb(197,170,52);
      .i{
        display: inline-block;
        width: 8px;
        height: 55px;
        margin: 0 15px;
        background: rgb(197,170,52);
        position: relative;
        vertical-align: 5px;
        &:after{
          content:'';
          position: absolute;
          top: -19px;
          left: -4px;
          width: 5px;
          height: 5px;
          background: #006834;
          border: 6px solid rgb(197,170,52);
          border-radius: 50%;
        }
        &:before{
          content:'';
          position: absolute;
          top: -28px;
          left: -29px;
          width: 60px;
          height: 90px;
          background: transparent;
          border-width: 3px;
          border-style: solid;
          border-color:  rgb(197,170,52) transparent transparent transparent;
          border-radius: 50%;
        }
        em{
          position: absolute;
          top: -36px;
          left: -39px;
          width: 80px;
          height: 110px;
          background: transparent;
          border-width: 3px;
          border-style: solid;
          border-color:  rgb(197,170,52) transparent transparent transparent;
          border-radius: 50%;
          &:after{
            content:'';
            position: absolute;
            top: -12px;
            left: -13px;
            width: 100px;
            height: 130px;
            background: transparent;
            border-width: 3px;
            border-style: solid;
            border-color:  rgb(197,170,52) transparent transparent transparent;
            border-radius: 60%;
          } 
        }
      }
    }
  }
}


h1,h2,h3,h4,h5,h6,ul,li,p{
  margin: 0;
  color: #404040;
}
h1{
  font-size: .34em;
  padding: .5em 1em;
}

ul ,li{
  list-style: none;
  padding: 0;
}
section.home{
  // height: 100%;
  // overflow-y: auto;
}
.block {
    -moz-border-image: url(../images/border-line-2.png) 2 stretch;
    border-image: url(../images/border-line-2.png) 2 stretch;
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    overflow: hidden;
    margin: 10px 0;
    background-color: #fff;
    display: block;
    position: relative;
    font-size: 14px;
}
#pageHome,#pageComment{
  .content{
    padding: 10px;
    position: absolute;
    top: 107px;
    overflow: auto;
    left: 0;
    right: 0;
    bottom:0;
    -webkit-overflow-scrolling: touch;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
  }
}
.fmit-main{
  .article{
    padding: 10px;
    border-bottom: 1px solid rgba(100,100,100,.1);
    border-top: none;
    & > a{
      display: block;
      text-decoration: none;
      position: relative;
    }
    img{
      float: left;
      width: 100px;
      height: 100px;
    }
    .article-detail{
      margin-left: 120px;
      h2{
        font-size: .34em;
        font-weight: normal;
        margin-top: 0;
        line-height: 1.1;
      }
      .article-footer{
        color: rgba(100,100,100,.4);
        font-size: 10px;
        padding: 1em 0;
      }
      .comment{
        position: absolute;
        right: 1em;
        bottom: 0;
        color: #fff;
        font-size: 10px;
        background: gray;
        padding: 3px;
        line-height: 1;
      }
    }
  }
}
#pageComment{
  .comment-header{
    height: 30px;
    border-bottom: 1px solid hsla(0, 0%, 87%, .6);
    padding: .1em .2em;
    margin-bottom: .5em;
    a{
      text-decoration: none;
      color: #404040;
    }
    svg{
      float: left;
      display: inline-block;
      margin-top: .18em;
      width: 16px;
      height: 16px;
      fill: gray;
    }
    span{
      font-size: .3em;
      display: block;
      line-height: 30px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  ul.comment{
    padding: 0 .5em;
    position: absolute;
    top: 50px;
    bottom: 30px;
    left: 0;
    right: 0;
    overflow: auto;
    li{
      position: relative;
      border-bottom: 1px solid hsla(0, 0%, 87%, .6);
      padding: 15px 0;
      .comment-user-profile{
        float: left;
        box-sizing: border-box;
        img{
          width: 20px;
          height: 20px;
          // border-radius: 50%;
          border: 1px solid gray;
          display: block;
        }
      }
      .comment-detail{
        margin-left: 30px;
        .good{
          position: absolute;
          right: 0;
          top: 15px;
          color: #616161;
          font-size: .2em;
          height: 22px;
          line-height: 22px;
          svg{
            width: 10px;
            height: 10px;
          }
        }
        .name{
          display: block;
          width: 80%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: bold;
          font-size: .35em;
          color: #406599;
          height: 22px;
          line-height: 22px;
        }
        .comment-text{
          display: block;
          line-height: 1.4;
          font-size: .4em;
          color: #505050;
          margin-top: 10px;
        }
        .comment-time{
          display: block;
          line-height: 1.4;
          font-size: .2em;
          color: #666;
          margin-top: 10px;
        }
      }
    }
  }
  .footer{
    background-color: rgb(235,235,235);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    padding: 5px;
    input{
      border: 1px solid rgb(208,208,208);
      border-radius: 5px;
      background-color: #fff;
      position: absolute;
      width: 65%;
      left: 10px;
      height: 27px;
      box-shadow: inset 1px 1px 0 0 rgba(100,100,100,.08);
      text-indent: .4em;
      &:focus{
        outline: none;
        box-shadow: 0 0 0 1px rgba(36,120,231,.5),inset 1px 1px 0 0 rgba(100,100,100,.08);
      }
    }
    button{
      position: absolute;
      top: 5px;
      right: 10px;
      width: 25%;
      height: 30px;
      background: rgb(36,120,231);
      border: none;
      border-radius: 4px;
      color: #fff;
      font-size: .3em;
    }
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), not all, not all{
  .block {
      border-top-width: 1px;
      border-bottom-width: 1px;
  }
}
