.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

html {
  font-size: 42.6667px;
  -webkit-text-size-adjust: none;
  font-family: 'STHeiti','Microsoft YaHei',Helvetica,Arial,sans-serif;
  height: 100%; }

body {
  padding-bottom: 20px;
  margin: 0;
  color: #404040;
  height: 100%; }
  body header.logo {
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    max-width: 740px;
    margin: 0 auto 5px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #006834;
    height: 107px;
    overflow: hidden; }
    body header.logo span {
      font-size: 90px;
      display: inline-block;
      vertical-align: -70px;
      color: #c5aa34; }
      body header.logo span .i {
        display: inline-block;
        width: 8px;
        height: 55px;
        margin: 0 15px;
        background: #c5aa34;
        position: relative;
        vertical-align: 5px; }
        body header.logo span .i:after {
          content: '';
          position: absolute;
          top: -19px;
          left: -4px;
          width: 5px;
          height: 5px;
          background: #006834;
          border: 6px solid #c5aa34;
          border-radius: 50%; }
        body header.logo span .i:before {
          content: '';
          position: absolute;
          top: -28px;
          left: -29px;
          width: 60px;
          height: 90px;
          background: transparent;
          border-width: 3px;
          border-style: solid;
          border-color: #c5aa34 transparent transparent transparent;
          border-radius: 50%; }
        body header.logo span .i em {
          position: absolute;
          top: -36px;
          left: -39px;
          width: 80px;
          height: 110px;
          background: transparent;
          border-width: 3px;
          border-style: solid;
          border-color: #c5aa34 transparent transparent transparent;
          border-radius: 50%; }
          body header.logo span .i em:after {
            content: '';
            position: absolute;
            top: -12px;
            left: -13px;
            width: 100px;
            height: 130px;
            background: transparent;
            border-width: 3px;
            border-style: solid;
            border-color: #c5aa34 transparent transparent transparent;
            border-radius: 60%; }

h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  color: #404040; }

h1 {
  font-size: .34em;
  padding: .5em 1em; }

ul, li {
  list-style: none;
  padding: 0; }

.content-wrap {
  padding: 10px;
  position: absolute;
  top: 0;
  overflow: auto;
  left: -10px;
  right: -10px;
  bottom: -10px;
  -webkit-overflow-scrolling: touch;
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eceff1; }
  .content-wrap h2 {
    text-align: center;
    font-family: 'Roboto Slab',Roboto,Noto,sans-serif;
    line-height: 38px;
    margin: 10px 0; }
    .content-wrap h2.title-small {
      font-size: 20px; }
    .content-wrap h2.title-big {
      font-size: 28px; }
  .content-wrap .zu-guide {
    padding: 40px 20px; }
    .content-wrap .zu-guide ul li {
      font-size: 16px;
      color: #696969;
      list-style: square inside;
      line-height: 2; }
    .content-wrap .zu-guide.bottom {
      background-color: #263238; }
      .content-wrap .zu-guide.bottom h2 {
        color: #fff; }
      .content-wrap .zu-guide.bottom ul li {
        color: #696969; }

.zu-module ul {
  display: flex; }

/*# sourceMappingURL=zu.css.map */
