{% extends 'base.html' %}
{% load static %}
{% load comments %}

{% block content %}
<h1>话题讨论征集中</h1>

<section>
  <ul class="fmit-main">
  {% for vol in vol_coll %}
  {% get_comment_count for vol as comment_count %}
    <li class=" article">
      <a href="#pageComment" class="clearfix"  id="{{ vol.id }}">
        {% if vol.album %}<img src="{{ vol.album.url }}" alt="新闻标题"/>{% endif %}
        <div class="article-detail">
          <h2 class="article-title">{{ vol }}</h2>
          <p class="article-footer">{{ vol.collect }}</p>
          {% if comment_count %}<p class="comment">{{ comment_count }}评论</p>{% endif %}
        </div>
      </a>
    </li>
  {% endfor %}
  </ul>
</section>

<h1>往期节目</h1>
<section class="home">
  <ul class="fmit-main">
  {% for vol in vol_release %}
  {% get_comment_count for vol as comment_count %}
    <li class="article">
      <a href="#pageComment" class="clearfix" id="{{ vol.id }}">
        {% if vol.album %}<img src="{{ vol.album.url }}" alt="新闻标题"/>{% endif %}
        <div class="article-detail">
          <h2 class="article-title">{{ vol }}</h2>
          <p class="article-footer">{{ vol.collect }}</p>
          {% if comment_count %}<p class="comment">{{ comment_count }}评论</p>{% endif %}
        </div>
      </a>
    </li>
  {% endfor %}
  </ul>
</section>

{% endblock %}
