{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>话题讨论征集中</h2>

<section>
  <ul class="fmit-main">
  {% for vol in vol_coll %}
    <li class="clearfix article">
      <img src="{% static "news/images/img.jpg" %}" alt="新闻标题"/>
      <div class="article-detail">
        <h2>{{ vol }}</h2>
        <p class="article-footer">{{ vol.collect }}</p>
        <p class="comment">80评论</p>
      </div>
    </li>
  {% endfor %}
  </ul>
</section>

<h2>往期节目</h2>
<section>
  <ul class="fmit-main">
  {% for vol in vol_release %}
    <li class="clearfix article">
      <img src="{% static "news/images/img.jpg" %}" alt="新闻标题"/>
      <div class="article-detail">
        <h2>{{ vol }}</h2>
        <p class="article-footer">{{ vol.collect }}</p>
        <p class="comment">80评论</p>
      </div>
    </li>
  {% endfor %}
  </ul>
</section>

{% endblock %}
