{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>话题讨论征集中</h1>

<section>
  <ul class="fmit-main">
  {% for vol in vol_coll %}
    <li class=" article">
      <a href="#pageComment" class="clearfix">
        {% if vol.album %}<img src="{{ vol.album.url }}" alt="新闻标题"/>{% endif %}
        <div class="article-detail">
          <h2>{{ vol }}</h2>
          <p class="article-footer">{{ vol.collect }}</p>
          <p class="comment">80评论</p>
        </div>
      </a>
    </li>
  {% endfor %}
  </ul>
</section>

<h1>往期节目</h1>
<section class="home">
  <ul class="fmit-main">
  {% for vol in vol_release %}
    <li class="article block">
      <a href="#pageComment" class="clearfix">
        {% if vol.album %}<img src="{{ vol.album.url }}" alt="新闻标题"/>{% endif %}
        <div class="article-detail">
          <h2>{{ vol }}</h2>
          <p class="article-footer">{{ vol.collect }}</p>
          <p class="comment">80评论</p>
        </div>
      </a>
    </li>
  {% endfor %}
  </ul>
</section>

{% endblock %}
