{% extends "base.html" %}

{% block content %}
<div class="row">
  <!--<div class="col-md-4"></div>-->
  <div class="col-md-12 nopadding">
    <ul  class="list-group">
    {% for news in list %}
    <li class="list-group-item fmit-list {% cycle 'row0' 'row1' %}">
      <p><a href="{% url 'news:news_detail' id=news.pk %}" class="newsListLink">{{ news.title }}</a></p>
        {% if news.thumb %}<img src="{{ news.thumb.url }}" alt="{{ news.title }}" />{% endif %}
      <span class="newsListLinkContent">{{ news.introduce }}</span>
      <p class="newsListFooter">{{ news.pubdate }}</p>
      <em>支持：{{ news.support }}</em><i>反对：{{ news.oppose }}</i>
    </li>
    {% endfor %}
    </ul>
  </div>
  <!--<div class="col-md-4"></div>-->
</div>

<div class="pagination">
{% if list.has_previous %}
<a href="{% url 'news:news_list_page' page=list.previous_page_number %}">上一页</a>
{% endif %}
{{ list.number }} / {{ list.paginator.num_pages }}
{% if list.has_next %}
<a href="{% url 'news:news_list_page' page=list.next_page_number %}">下一页</a>
{% endif %}
</div>

{% endblock %}
