{% extends 'base.html' %}
{% load tagging_tags %}
{% block content %}
    <div class="article">
        <header>
            <h2>{{ object.subject }}</h2>
            <h3>From: {{ object.volume.subject }}</h3>
            <h4>{{ object.cmd }}</h4>
            {% if object.url %}<h5>来源{{ object.url }}</h5>{% endif %}
            <p class="author">
                作者：{{ object.author.first_name }}
            </p>
            <p class="tags">
                tags：{% tags_for_model news.macskill as tags %}
            </p>
        </header>
        
        <ul>
        {% for tag in tags %}
        <li>{{ tag }}</li>
        {% endfor %}
        </ul>
        <section class="block">
            {{ object.macskillcontent.content|safe }}
        </section>
    </div>
{% endblock %}
