{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="{% static "news/c/042fc0b4.main.css" %}"/>
  <title>FMiT 广播</title>
</head>
<body>
<header></header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>
<script src="{% static "news/j/dc2f9ab9.vendor.js" %}"></script>
<script src="{% static "news/j/b6c3df09.main.js" %}"></script>
</body>
</html>
