{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="{% static "news/styles/main.css" %}"/>
  <title>FMiT 广播</title>
</head>
<body>
<header></header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>话题讨论征集中</h1>
      <div class="discuss">
        <ul class="list-unstyled">
          <li><a href="javascript:">讨论1讨论1讨论1讨论1讨论1讨论1</a></li>
          <li><a href="javascript:">讨论2讨论2讨论2讨论2讨论2讨论2</a></li>
        </ul>
      </div>
      <h1>往期节目</h1>
      <div class="discuss">
        <ul class="list-unstyled">
          <li><a href="javascript:">第一期第一期第一期第一期第一期</a></li>
          <li><a href="javascript:">第二期第二期第二期第二期第二期</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>
