{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="{% static "news/styles/main.css" %}"/>
  <title>FMiT 广播</title>
</head>
<body>
<header></header>
<section>
  <ul class="fmit-main">
    <li class="clearfix article">
      <img src="{% static "news/images/img.jpg" %}" alt="新闻标题"/>
      <div class="article-detail">
        <h2>《最后的守护者》纪录片：十年开发终铸神作</h2>
        <p class="article-footer">本地新闻</p>
        <p class="comment">80评论</p>
      </div>
    </li>
    <li class="clearfix article">
      <img src="{% static "news/images/img.jpg" %}" alt="新闻标题"/>
      <div class="article-detail">
        <h2>《最后的守护者》纪录片：十年开发终铸神作</h2>
        <p class="article-footer">本地新闻</p>
        <p class="comment">80评论</p>
      </div>
    </li>
    <li class="clearfix article">
      <img src="{% static "news/images/img.jpg" %}" alt="新闻标题"/>
      <div class="article-detail">
        <h2>《最后的守护者》纪录片：十年开发终铸神作</h2>
        <p class="article-footer">本地新闻</p>
        <p class="comment">80评论</p>
      </div>
    </li>
    <li class="clearfix article">
      <img src="{% static "news/images/img.jpg" %}" alt="新闻标题"/>
      <div class="article-detail">
        <h2>《最后的守护者》纪录片：十年开发终铸神作</h2>
        <p class="article-footer">本地新闻</p>
        <p class="comment">80评论</p>
      </div>
    </li>
  </ul>
</section>
</body>
</html>
