{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="../static/news/styles/zu.css"/>
{% endblock %}
{% block content %}
    <div class="content-wrap">
            <!-- 介绍部分 -->
            <div class="zu-guide">
                <h2 class="title-big">为什么要租</h2>
                <ul>
                    <li>你有没有买来用几天就后悔的数码产品？</li>
                    <li>你的单反、无人机是不是吃灰很久了？</li>
                    <li>Hololens很酷炫，想深度体验但觉得3万太贵？</li>
                    <li>VR到底哪款好？我家的空间够吗？</li>
                    <li>嘈杂的卖场根本试不出耳机效果，想在日常生活场景试听。</li>
                    <li>究竟哪款MacBook适合我？</li>
                </ul>
            </div>
            <div class="zu-guide bottom">
                <h2 class="title-small">在这里你可以享受到特殊服务</h2>
                <ul>
                    <li>物流周期不计算租赁费（寄出和寄回的6天时间不需要您支付租赁费）</li>
                    <li>全场包邮（寄出和寄回我们都顺丰包邮）</li>
                    <li>全新试用（全新未拆封的商品，由您亲自开箱。需要额外费用）</li>
                    <li>试用转购买（所有产品都支持试用后直接以押金购买，免除租赁费）</li>
                    <li>箱说全（为了方便您更深入的了解商品，我们提供邮寄原厂所有附件服务。需要额外费用）</li>
                </ul>
            </div>
            <!-- div class="zu-list-title">
                <h2>无人机火爆租赁中</h2>
            </div -->
            <!-- 商品列表 -->
            <div class="zu-list">
                <ul>
                    {% for p in products %}
                    <li>
                        <dl>
                            <dt>{{ p.name }}</dt>
                            <dd><img src="{{ p.picture.url }}" alt="{{ p.name }}" /></dd>
                            <dd>原价：{{ p.origin_price }}</dd>
                            <dd>押金：{{ p.pledge_price }}</dd>
                            <dd>日租金：{{ p.price_per_day }}</dd>
                            <dd><a href="{% url 'lease:lease_detail' p.slug %}">查看租赁详情</a></dd>
                        </dl>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
{% endblock %}
