{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="../static/news/styles/zu.css"/>
{% endblock %}
{% block content %}
    <div class="content-wrap rent-detail">
    <h2>{{ object.name }}</h2>
    <dl>
        <dt>原价：{{ object.origin_price }}</dt>
        <dd>押金：{{ object.pledge_price }}</dd>
        <dd>日租金：{{ object.price_per_day }}</dd>
    </dl>
    <h3>可用日期</h3>
        <!-- 这里会有一个日期列表，显示哪天可用 -->
    <div class="detail">{{ object.detail.description|safe }}</div>
    <div class="order">
        <button>下单</button>
    </div>
    </div>
{% endblock %}
